@import './../../global.scss';

.submit-tool {
  border-radius: 1rem;
  background-color: $black;
  color: $white;
  text-align: left;
  padding: $section-padding;
  margin: $section-padding $gutter;

  &__header {
    @extend %heading;
    font-size: $large-font-size;
  }

  &__content {
    display: grid;
    align-items: flex-start;
    grid-gap: $section-padding;

    @media #{$desktop} {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__form-content {
    display: grid;
    grid-gap: $spacing;
  }
}

// Select
.MuiInputBase-root {
  @extend %input;
  border: 1px solid rgba($white, 0.2);
  background-color: rgba($background-color, .15);
  color: $background-color;
  font-size: $regular-font-size;
  border-radius: 1rem;

  input:focus {
    border-color: $white;
  }

  .MuiSelect-select {
    padding: $spacing;
  }

  .MuiChip-root {
    background-color: white;
  }

  .MuiSvgIcon-root {
    color: white;
  }
}