@import './../../global.scss';

.submit-tool {
  border-radius: 1rem;
  display: grid;
  align-items: center;
  grid-gap: $section-padding;
  background-color: $black;
  color: $white;
  text-align: left;
  padding: $section-padding;
  margin: $section-padding $gutter;

  @media #{$desktop} {
    grid-template-columns: 2fr 1fr;
  }

  &__header {
    @extend %heading;
    font-size: $large-font-size;
  }

  &__form-content {
    display: grid;
  }

  .button {
    background-color: $yellow;
    color: $black;
    margin: 0;
    width: fit-content;
  }
}

// Select
.MuiInputBase-root {
  @extend %input;
  width: 100%;

  .MuiSelect-select {
    padding: 0;
  }

  .MuiChip-root {
    background-color: white;
  }

  .MuiSvgIcon-root {
    color: white;
  }
}