@import './../../global.scss';

.submit-tool {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  grid-gap: $section-padding;
  background-color: $black;
  color: $white;
  text-align: left;
  padding: $section-padding;
  margin: $gutter;

  &__header {
    @extend %heading;
    font-size: $large-font-size;
  }

  &__form-content {
    display: grid;
  }

  input,
  textarea {
    border: 1px solid rgba($white, 0.2);
    border-radius: $spacing;
    background-color: rgba($background-color, .15);
    color: $background-color;
    font-size: $regular-font-size;
    font-family: $body-font;
    margin-bottom: calc($spacing);
    padding: $spacing;
  }

  .button {
    background-color: $yellow;
    color: $black;
    margin: 0;
    width: fit-content;
  }
}