@import './../../global.scss';

.main {
  &-header {
    text-align: center;

    section {
      display: grid;
      grid-gap: calc($spacing * 2);

      & > * {
        justify-self: center;
      }

      @media #{$mobile} {
        padding: calc($spacing * 3) $spacing;
      }

      @media #{$desktop} {
        padding: calc($spacing * 5) calc($spacing * 10);
      }

      h1 {
        margin-bottom: 0;
      }
    }

    &__pills {
      margin-top: calc($spacing * 4);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    #header-search {
      margin: 0 auto;
      border-radius: $border-radius;

      @media #{$desktop} {
        width: 50%;
      }
    }
  }
}