@import './../../global.scss';

.tool-list {
  display: grid;
  grid-gap: $spacing;
  padding: $section-padding;
  grid-template-columns: repeat( auto-fit, minmax(15rem, 1fr) );

  @media #{$desktop} {

  }
}
