// Vars

$white: #fff;
$black: #05070f;
$light: #F8F7F5;

$yellow: #f6fa5e;
$green: #31f7c8;
$blue: #61c6ff;
$red: #f05;
$purple: #9071fb;
$dark: #21242c;
$grey: #b0bac5;

$mobile: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$large-desktop: "(min-width: 1280px)";

@media #{$mobile} {
  :root {
    --spacing: 1rem;
    --section-padding: var(--spacing);
    --gutter: var(--spacing);

    --large-font-size: 1.5rem;
  }
}

@media #{$desktop} {
  :root {
    --spacing: 1rem;
    --section-padding: calc(var(--spacing) * 4);
    --gutter: calc(var(--spacing) * 4);

    --large-font-size: 3rem;
  }
}

$spacing: var(--spacing);

$spacing: var(--spacing);
$gutter: var(--gutter);
$section-padding: var(--section-padding);
$foreground-color: $black;
$background-color: $light;
$border-width: 2px;
$border-radius: 10rem;
$border: $black $border-width solid;

.color {
  &-yellow {
    background-color: $yellow;
    color: $black;
    border-color: $yellow !important;
  }

  &-green {
    background-color: $green;
    color: $black;
    border-color: $green !important;
  }

  &-blue {
    background-color: $blue;
    color: $black;
    border-color: $blue !important;
  }

  &-red {
    background-color: $red;
    color: $white;
    border-color: $red !important;
  }

  &-purple {
    background-color: $purple;
    color: $white;
    border-color: $purple !important;
  }

  &-dark {
    background-color: $dark;
    color: $white;
    border-color: $dark !important;
  }

  &-grey {
    background-color: $grey;
    color: $black;
    border-color: $grey !important;
  }

  &-white {
    background-color: $white;
    color: $black;
    border-color: $black !important;
  }
}

// Typography

@font-face {
  font-family: 'Medium';
  src: url('./fonts/Mattone-Bold.woff2');
}

@font-face {
  font-family: 'Regular';
  src: url('./fonts/Mattone-Regular.woff2');
}

$small-font-size: .85rem;
$regular-font-size: 18px;
$bigger-font-size: 2rem;
$large-font-size: var(--large-font-size);
$x-large-font-size: 6rem;
$huge-font-size: 10vw;

$mobile-large-font-size: 1.5rem;
$mobile-x-large-font-size: 3rem;

$body-font: 'Manrope', sans-serif;
$heading-font: 'Manrope', sans-serif;
$subheading-font: 'Bold', sans-serif;

%body {
  font-family: $body-font;
  font-weight: 600;
}

%heading {
  font-family: $heading-font;
  font-weight: 600;
  line-height: .9;
  margin-top: 0;
  margin-bottom: $section-padding;

  @media #{$mobile} {
    margin-bottom: calc($section-padding/2);
  }
}

%subheading, .subheading {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: $spacing;
  font-size: $small-font-size;
}

//Global

@media #{$mobile} {
  .desktop {
    display: none !important;
  }
}

@media #{$desktop} {
  .mobile {
    display: none !important;
  }
}

* {
  transition: text-decoration-color .25s ease-in-out,
              background-color .25s ease-in-out,
              color .25s ease-in-out,
              border-color .25s ease-in-out;
}

body {
  margin: 0;
  background-color: $background-color;
  color: $foreground-color;
  font-size: 18px;
  text-align: center;
  @extend %body;
}

h1, h2, h3, h4, h5 {
  @extend %heading;
}

h1 {
  font-size: $x-large-font-size;

  @media #{$mobile} {
    font-size: 10vw;
  }
}

h2 {
  font-size: $x-large-font-size;

  @media #{$mobile} {
    font-size: $mobile-x-large-font-size;
  }
}

h3 {
  font-size: $large-font-size;
  margin-bottom: $spacing;

  @media #{$mobile} {
    font-size: $mobile-large-font-size;
  }
}

a {
  color: $foreground-color;
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

input {
  background-color: rgba($black, .05);
  border: rgba($black, .1) solid 1px;
  border-radius: $border-radius;
  height: fit-content;
  min-width: 10rem;
  min-height: calc($spacing * 1.75);
  font-size: $small-font-size;

  @media #{$mobile} {
    width: 100%;
    box-sizing: border-box;
    padding: $spacing;
  }

  @media #{$desktop} {
    padding: calc($spacing/2) $spacing;
  }
}

%input {
  border: 1px solid rgba($white, 0.2);
  border-radius: calc($spacing/2);
  background-color: rgba($background-color, .15);
  color: $background-color;
  font-size: $regular-font-size;
  font-family: $body-font;
  margin-bottom: calc($spacing);
  padding: $spacing;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
    border-color: $white;
  }
}

.filters__pills {
  display: flex;
  padding: 0 $section-padding;

  @media #{$mobile} {
    overflow: auto;
  }

  @media #{$desktop} {
    flex-wrap: wrap;
  }
}