@import './../../global.scss';

.button {
  display: block;
  margin: 0 auto;
  border-radius: $border-radius;
  border: $border;
  padding: calc($spacing * 1.25) calc($spacing * 2);
  color: $white;
  background-color: $foreground-color;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }

  &--small {
    padding: calc($spacing/2) calc($spacing * 1.5) !important;
    min-height: calc($spacing * 1.7);
  }

  &--big {
    font-size: $bigger-font-size;
  }
}