@import './../../global.scss';

.main {
  &-nav {
    position: sticky;
    top: 0;
    left: 0;
    background: rgba($background-color, .95);
    backdrop-filter: blur(3px);
    z-index: 2;
    border-bottom: 1px solid rgba($black, .1);

    @media #{$mobile} {
      padding: $spacing;
    }

    @media #{$desktop} {
      padding: $spacing calc($spacing * 2.5);
    }


    &__list {
      display: grid;
      grid-template-columns: calc(50% - 5rem) 10rem calc(50% - 5rem);
      @extend %body;

      & > *:last-child {
        margin-left: auto;
      }

      li {
        display: inline-flex;
        align-items: center;

        a {
          display: inline-flex;
          align-items: center;
          padding: $spacing calc($spacing * 1.5);
          font-size: $small-font-size;

          &:hover {
            opacity: .7;
          }
        }
      }

      div {
        display: flex;

        &:first-of-type li a {
          padding-left: 0;
        }
      }
    }

    &__logo {
      @extend %heading;
      font-size: $bigger-font-size !important;
      padding: 0;
      margin-bottom: 0;

      @media #{$desktop} {
        margin: 0 auto;
      }

      img {
        max-height: 1em;
      }
    }

    &__top {
      justify-content: space-between;
      display: flex;
      align-items: center;
    }

    &__inner {
      &.mobile {
        display: grid;
        grid-gap: .5em;
      }
    }
  }
}